@import "./variables.scss";
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: $text;
  background-color: $bg;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

button {
  outline: none !important;
  border: none;
}
input::-webkit-file-upload-button {
  visibility: hidden;
}
.wrapper {
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  overflow: hidden;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

// HEADER start
.header {
  border-bottom: 1px solid $border;

  &-user {
    @include flex(center, center);
    height: 48px;
    &__img {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      overflow: hidden;
      margin-right: 8px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__name {
      font-weight: 700;
    }
  }
  &-menu {
    position: relative;
    min-height: 48px;
    @include flex(center, flex-start);
    &__link {
      position: relative;
      @include flex(center, flex-start);
      gap: 5px;
      font-weight: 600;
      line-height: 30px;
      padding: 0 8px;
      background-color: transparent;
      transition: all 0.2s;
      border-radius: 6px;
      &::after {
        position: absolute;
        content: "";
        bottom: calc(50% - 25px);
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $orange;
      }
      svg {
        fill: $icon;
      }

      &:hover {
        background-color: $border;
      }
    }
  }
}
// HEADER end

// MAIN start
.main {
  &-user {
    width: 100%;
    margin-top: -30px;
    &__img {
      position: relative;
      img {
        border-radius: 100%;
        overflow: hidden;
        border: 1px solid $border;
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: middle;
      }
    }
    &__title {
      padding: 16px 0;
      .title {
        display: block;
        font-size: 24px;
        font-weight: 600;
      }
      .sub-title {
        display: block;
        font-size: 20px;
        font-weight: 300;
      }
    }
    &__links {
      ul li {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 5px;
        svg {
          width: 16px;
          fill: $icon;
        }
      }
    }
    &__section {
      .organize {
        width: 32px;
        height: 32px;
        border-radius: 8px;
        padding: 1px;
        margin-top: 10px;
        background-color: $border;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &-content {
    padding: 24px;
    margin: 24px 0;
    border-radius: 8px;
    border: 1px solid $border;
    h2 {
      border-bottom: 1px solid $border;
      padding: 6px 0;
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 16px;
    }
    h4 {
      margin-top: 24px;
      margin-bottom: 16px;
    }
    ul {
      list-style: disc;
      padding-left: 24px;
      li {
        margin-top: 3.5px;
      }
    }
    a {
      color: #58a6ff;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-status {
    position: relative;
    .user-status {
      position: absolute;
      left: 85%;
      bottom: 30px;
      width: 38px;
      background: #0d1117;
      border-radius: 100%;
      border: 1px solid $border;
      padding: 8px;
      @include flex(center, flex-start);
      overflow: hidden;
      gap: 10px;
      cursor: pointer;
      &:hover {
        box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 1);
        width: auto;
        max-width: 150px;
        border-radius: 20px;
      }
    }
  }
}
// MAIN end

// SIDEBAR start
.sidebar {
  @include flex(flex-start, flex-start);
  &__left {
    min-width: 296px;
    width: 20%;
  }
  &__right {
    width: 80%;
    padding: 0 16px;
  }
}
// SIDEBAR end

.line {
  border: none;
  height: 1px;
  margin: 16px 0;
  background-color: $border;
}
